{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <p><img src="{{ asset(image_path) | imagine_filter('preview') }}" title="{{ image_path }}" /></p>
            <p><a href="#reset" onclick="fetchAll({{ image_id }}, true);return false;">Reset Cace for all Items</a> Use the refresh icon in each section to reload a specific cache.</p>
        </div>

        <div class="row">
            <h2>Results</h2>
            {% for section in sections %}
                <div class="panel panel-default" id="{{ section }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#{{ section }}-data" aria-expanded="false" aria-controls="{{ section }}-data">{{ section | upper }}</a>
                            <ul class="navbar-nav navbar-right header-actions">
                                <li><a href="/api/{{ section }}/{{ image_id }}" target="_blank" title="View Source"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></li>
                                <li><a href="#reset" title="Refresh w/o Cache" onclick="standardFetch('{{ section }}', {{ image_id }}, true);return false;"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></li>
                            </ul>
                        </h3>
                    </div>
                    <div class="panel-body collapse in" id="{{ section }}-data">
                        <div class="tags"></div>

                        <div class="panel panel-default json-container" style="display: none;">
                            <div class="panel-heading"><a role="button" data-toggle="collapse" href="#{{ section }}-json" aria-expanded="false" aria-controls="{{ section }}-json">Raw Data</a></div>
                            <div class="collapse" id="{{ section }}-json"><pre><code class="json"></code></pre></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
      fetchAll({{ image_id }}, {{ reset }});
    });
</script>
{% endblock %}
